@font-face {
    font-family: Prompt;
    src: url(../fonts/Prompt/Prompt-Regular.ttf);
}
body {
    background-color: #d8c5a1;
}
* {
    font-family: Prompt;
}


.container-main {
    display: flex;    
    justify-content: center;
    align-items: center;
}

.container-lista {
    align-items: center;
    background-color: white;
    border-radius: 8px;
    width: 640px;
    height: 350px;
    margin-top: 22vh;
    -webkit-box-shadow: 0px 10px 25px 1px rgba(156,156,156,0.48);
    -moz-box-shadow: 0px 10px 25px 1px rgba(156,156,156,0.48);
    box-shadow: 0px 10px 25px 1px rgba(156,156,156,0.48);
}

.container-inferior {
    margin-top: 30px;
}

.title {
    margin: 20px;
    margin-top: 60px;
    font-size: 43px;
}
/* input */
.add-tarefas { 
    margin-left: 25px;
    border-radius: 5px;
    border: 2px solid #d8c5a1;

}

.check-tarefa {
    border-radius: 20px;
    
}

ul li {
    list-style: none;
    position: relative;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.delete-tarefa {
    background: white;
    border: none;
    font-size: 22px;
    position: absolute;
    right: 0px;
    margin-right: 40px;
}

.delete-tarefa:hover {
    cursor: pointer;
    font-size: 24px;
    align-items: flex-end;
}